/* modelos */
/* eventos fondo */
.content-section-api {
  display: flex;
  width: 100%;
  justify-content: center;
  background: linear-gradient(to top, rgba(19, 21, 22, 0.5098039216), rgba(19, 21, 22, 0.6745098039)), url(../assets/img/img-noise-1080x500.png);
  background-size: contain;
}

.content-card-api {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 2.2rem;
  padding: 2rem;
  background-color: rgba(246, 246, 246, 0.0392156863);
  border-radius: 1rem;
  margin: 2rem 0rem;
}
.content-card-api div div {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  margin: 1rem 0rem;
  height: 14%;
}
.content-card-api div div p:nth-last-child(3) {
  background-color: rgb(61, 27, 194);
  color: white;
  border-radius: 0.8rem;
  padding: 6px;
  width: 70%;
  text-align: center;
  font-size: 0.7rem;
}
.content-card-api div div p:nth-last-child(2) {
  background-color: rgba(33, 182, 251, 0.874);
  color: white;
  border-radius: 0.8rem;
  padding: 6px;
  width: 100%;
  text-align: center;
  font-size: 0.7rem;
}
.content-card-api div div p:nth-last-child(1) {
  grid-column: 1/3;
  color: white;
}

.img-card-api {
  border-radius: 0.6rem;
  width: 100%;
  height: 70%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  -o-object-fit: cover;
     object-fit: cover;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

header {
  display: flex;
  height: 10vh;
  background: #9f3647;
}

/*------------------------------ header */
.content-icon-nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 0rem 4rem 0rem 4rem;
}

.nav-header ul {
  display: flex;
}

.nav-header ul li {
  text-decoration: none;
  list-style: none;
}

.nav-header ul li a {
  text-decoration: none;
  margin: 2rem;
  color: #ffffff;
  font-weight: 700;
  font-size: 1.1rem;
}

.ancor-inic-header {
  background-color: black;
  padding: 0.7rem;
  border-radius: 0.5rem;
}

.icon-inic {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.3rem;
}

/*------------------------------ main parte 1*/
.main-index {
  display: flex;
  min-height: 80vh;
  background-color: #000000;
}

.content-section {
  background-color: #181419;
  width: 100%;
}

.content-title-dem {
  height: 90vh;
  background: linear-gradient(to right top, rgba(0, 0, 0, 0.5411764706), rgba(0, 0, 0, 0.5411764706)), url(https://giselemilagros88.github.io/cac_movies_javaphp/assets/img/banner-bg.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  font-size: 3rem;
  color: #ffffff;
}

.p-title-index {
  font-size: 1.5rem;
  color: #ffffff;
  margin: 2rem;
}

/*------------------------------ main parte 2*/
.content-input-title {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 2rem;
  color: #ffffff;
}

button {
  color: #ffffff;
  margin-top: 3rem;
  font-size: 1rem;
  background-color: #9f3647;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
}

.div-input-btn {
  margin-top: 3rem;
  display: flex;
  gap: 1rem;
}

.search {
  text-decoration: none;
  border: none;
  height: 3rem;
  width: 25rem;
  border-radius: 2rem;
}

.btn-input {
  color: #ffffff;
  margin-top: 0rem;
  font-size: 1.5rem;
  background-color: #9f3647;
  border-radius: 1.3rem;
  border: none;
  text-align: center;
}

/*------------------------------ main parte 2*/
.section-img-index {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  margin-top: 10px;
  border-top: solid 0.15rem #9f3647;
  border-bottom: solid 0.15rem #9f3647;
}

h3 {
  font-size: 2rem;
  color: #ffffff;
  margin-top: 1rem;
}

.content-img-index {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;
  margin-top: 4rem;
}

.img-index {
  width: 200px;
  height: 300px;
  position: relative;
  border-radius: 10px;
}

.content-btn-img {
  display: flex;
  justify-content: center;
  gap: 4rem;
  margin-bottom: 2rem;
}

/*------------------------------ main parte 3*/
.section-carrusel-index {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

/*------------------------------ footer*/
footer {
  display: flex;
  height: 15vh;
  background-color: #54141f;
}

.content-footer {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.a-footer {
  text-decoration: none;
  color: #ffffff;
}

.colored-toast {
  background: linear-gradient(to right, #6441a5, #2a0845) !important;
  color: white;
}/*# sourceMappingURL=style.css.map */