@use "variables" as*;

.content-section-api {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #131516;
}

.content-card-api {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 2.2rem;
  margin: 2rem;

  div {
    div {
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 1rem;
      margin: 1rem 0rem;
      height: 14%;

      p:nth-last-child(3) {
        background-color: $estado-anime-carta;
        color: $texto-cartas;
        border-radius: 0.8rem;
        padding: 6px;
        width: 70%;
        text-align: center;
        font-size: .7rem;
      }

      p:nth-last-child(2) {
        background-color: $tipo-anime-carta;
        color: $texto-cartas;
        border-radius: 0.8rem;
        padding: 6px;
        width: 100%;
        text-align: center;
        font-size: .7rem;
      }

      p:nth-last-child(1) {
        grid-column: 1/3;
        color: $texto-cartas;
      }
    }
  }
}

.img-card-api {
  border-radius: .6rem;
  width: 100%;
  height: 70%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  object-fit: cover;
}