.content-table {
  align-items: center;
  color: rgb(255, 255, 255);
}

caption {
  color: white;
  text-decoration: underline;
  font-style: italic;
  width: 18rem;
  margin-bottom: .5rem;
}

table {
  width: 60%;
  height: 30%;
  margin-top: 4rem;
  margin-bottom: 3rem;
  background-color: rgba(94, 94, 94, 0.203);
}

thead>tr>th {
  margin-left: 2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: 800;
  height: 50%;
}


thead>tr {
  background-color: #9f3647;
}

tbody>tr>th {
  color: white;
}

.th-data {
  font-size: .8rem;
}